<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Hello new Layout</h1>
    <div>
        @RenderBody()
    </div>
    <footer>
        @RenderSection("foot",false)
    </footer>
</body>
</html>
